<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_onlinedistractiontracker_domain_Events" object="${events}" path="/eventses" z="lXLyENH5v7U/2nyBjrQIq7zK4Z8=">
        <field:display field="userId" id="s_com_onlinedistractiontracker_domain_Events_userId" object="${events}" z="MG4jMiZmJxJxFpkLzTB4oL/IsuE="/>
        <field:display field="eventName" id="s_com_onlinedistractiontracker_domain_Events_eventName" object="${events}" z="0Sx6Y9hTZFfi22c3tsQX5rAqiN8="/>
        <field:display field="eventDescription" id="s_com_onlinedistractiontracker_domain_Events_eventDescription" object="${events}" z="X5tXvIEiFxVwMr25/LMmySD3Isc="/>
        <field:display calendar="true" dateTimePattern="${events_starttime_date_format}" field="startTime" id="s_com_onlinedistractiontracker_domain_Events_startTime" object="${events}" z="8Hy1oV0hKU8Yic2gi1k/QLaE/Ns="/>
        <field:display calendar="true" dateTimePattern="${events_endtime_date_format}" field="endTime" id="s_com_onlinedistractiontracker_domain_Events_endTime" object="${events}" z="L66+FcnGUialfCSqDHA1goTWtOA="/>
        <field:display field="location" id="s_com_onlinedistractiontracker_domain_Events_location" object="${events}" z="nVdKZE7LJQ67RU3l2nER1XHGN5E="/>
        <field:display field="privacy" id="s_com_onlinedistractiontracker_domain_Events_privacy" object="${events}" z="FDOoZB00WexuDLNRAJaq+NLNSzw="/>
        <field:display field="picture" id="s_com_onlinedistractiontracker_domain_Events_picture" object="${events}" z="+JzGSZ4FYzLdyQlofhP3Q8wEboA="/>
        <field:display field="ticketUrl" id="s_com_onlinedistractiontracker_domain_Events_ticketUrl" object="${events}" z="P/ptVchSozN6JoWZn53oI2ifpbE="/>
    </page:show>
</div>
