<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByUserNameEquals" id="ff_com_onlinedistractiontracker_domain_UserAccount" path="/useraccounts" z="gNxdZMPsQeEoi3SKwhc6E0aPfEY=">
        <field:input disableFormBinding="true" field="userName" id="f_com_onlinedistractiontracker_domain_UserAccount_userName" required="true" z="myt3WKDKYpjldNz2nqogH0UgmSw="/>
    </form:find>
</div>
