<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:sec="http://www.springframework.org/security/tags" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_onlinedistractiontracker_domain_Distractions" modelAttribute="distractions" path="/distractionses" render="${empty dependencies}" z="gYDTiEBjlalu6+gv2aAIIdA2Dt0=">
        <field:input field="domain" id="c_com_onlinedistractiontracker_domain_Distractions_domain" z="2xZG+GlMrxxmkLS8EUI7fCSTHds="/>
        <c:forEach items="${useraccounts}" var="contact" varStatus="loop">
            <c:if test="${contact.userName == pageContext['request'].userPrincipal.name}">
                <!-- <input name="userId" type="hidden" value="${contact.id}"/> -->
            </c:if>
        </c:forEach>
        <!--         <field:select field="userId" id="c_com_onlinedistractiontracker_domain_Distractions_userId" itemValue="id" items="${useraccounts}" path="/useraccounts" z="R/GEqqOGojIRzmUwE5cr3tRbNWY="/> -->
        <field:select field="userId" id="c_com_onlinedistractiontracker_domain_Distractions_userId" itemValue="id" items="${useraccounts}" path="/useraccounts" render="false" z="user-managed"/>
    </form:create>
    <!--    <c:set value="${pageContext['request'].userPrincipal.name}" var="myVar"/>
    Principal= ${myVar} <br/>
    <br/>
    <br/>
    <br/>
    ${userId} 
    ${useraccounts}
      <br/>
    <br/>-->
    <form:dependency dependencies="${dependencies}" id="d_com_onlinedistractiontracker_domain_Distractions" render="${not empty dependencies}" z="mbNL+QvuM+NRI2WFcATEwD1p7yQ="/>
</div>
