<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_onlinedistractiontracker_domain_Trackings" modelAttribute="trackings" path="/trackingses" render="${empty dependencies}" z="7reW+U8/aZKs4wx+nfS4IGMHp8c=">
        <field:select field="userId" id="c_com_onlinedistractiontracker_domain_Trackings_userId" itemValue="id" items="${useraccounts}" path="/useraccounts" z="3D1VaNx/ooDZpBt4PjNizmitxak="/>
        <field:datetime dateTimePattern="${trackings_starttime_date_format}" field="startTime" id="c_com_onlinedistractiontracker_domain_Trackings_startTime" z="znxyP873AIsPzMa82QbBt/kTJmY="/>
        <field:input field="Duration" id="c_com_onlinedistractiontracker_domain_Trackings_Duration" z="K/N/8vY51nC+RKZcNqW/0OA7dE4="/>
        <field:input field="domain" id="c_com_onlinedistractiontracker_domain_Trackings_domain" required="true" z="J/B3aQ4HIo9aUw3rtLaEMHBzCjA="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_onlinedistractiontracker_domain_Trackings" render="${not empty dependencies}" z="pG6j411ZPHLO99GIzZIDAtTELSY="/>
</div>
