<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_onlinedistractiontracker_domain_SetPlan" modelAttribute="setPlan" path="/setplans" versionField="Version" z="GCiD2sQp5EhjHv3DUx4bMk6uj20=">
        <field:input field="PlanName" id="c_com_onlinedistractiontracker_domain_SetPlan_PlanName" max="20" min="2" required="true" z="ajKFcreKKRbEGKFpCV0ASol17cE="/>
        <field:input field="Aim" id="c_com_onlinedistractiontracker_domain_SetPlan_Aim" max="20" min="2" required="true" z="cLnMKd6cokw3gj8S3LrG4vAOAH0="/>
        <field:datetime dateTimePattern="${setPlan_startdate_date_format}" field="StartDate" id="c_com_onlinedistractiontracker_domain_SetPlan_StartDate" z="6LUcGDOdd5Ts5T6mA1Ru9htJfWE="/>
        <field:datetime dateTimePattern="${setPlan_duedate_date_format}" field="DueDate" id="c_com_onlinedistractiontracker_domain_SetPlan_DueDate" z="tR66WcmCrMihsCkcif51iP+XDuU="/>
    </form:update>
</div>
