<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" xmlns:sec="http://www.springframework.org/security/tags" id="menu" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <c:if test="${pageContext['request'].userPrincipal == null}">
	    <menu:menu id="_menu">
			<menu:category id="c_useraccount" z="Yb8cyPB5AwOfYXCcrEpGXNT9C+k=">
				<span><a href="/onlinedistractiontracker/login">Login</a></span>
				<menu:item id="i_useraccount_new" messageCode="global_menu_new" url="/useraccounts?form" z="dm6iErpLQmgISoPCTS3yLiH8XFA="/>
			</menu:category>
		</menu:menu>
  	</c:if>
    <c:if test="${pageContext['request'].userPrincipal != null}">
		<span><h2>User Profile</h2></span>
		<span><a href="charts">User Report</a></span>
		<span><a href="compare">Compare Report</a></span>
		<span><a href="leaderboard">Leaderboard</a></span>
		<span><a href="userbadge">My Badge</a></span>
  	</c:if>
    <menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
    	<sec:authorize access="hasRole('ROLE_ADMIN')">
   		<menu:category id="c_useraccount" z="Yb8cyPB5AwOfYXCcrEpGXNT9C+k=">
            	<menu:item id="i_useraccount_new" messageCode="global_menu_new" url="/useraccounts?form" z="dm6iErpLQmgISoPCTS3yLiH8XFA="/>
                <menu:item id="i_useraccount_list" messageCode="global_menu_list" url="/useraccounts?page=1&amp;size=${empty param.size ? 10 : param.size}" z="nijRCp2PPYuD2D3D7hljcdDK4vs="/>
            	<menu:item id="fi_useraccount_usernameandpwdequals" messageCode="global_menu_find" url="/useraccounts?find=ByUserNameAndPwdEquals&amp;form" z="YguWaaNlB62uOHlOWXI5glZujbA="/>
            	<menu:item id="fi_useraccount_usernameequals" messageCode="global_menu_find" url="/useraccounts?find=ByUserNameEquals&amp;form" z="FPgUQ2tQBfQLBZvk0aXbnLoSrvI="/>
		</menu:category>
        </sec:authorize>
        <menu:category id="c_plans" z="UNn1R5sw/53FDTiLsMGliqLNUVU=">
            <menu:item id="i_plans_new" messageCode="global_menu_new" url="/planses?form" z="0u84pQ2lf2IdpYd0BuTBJDSg2Ng="/>
            <menu:item id="i_plans_list" messageCode="global_menu_list" url="/planses?page=1&amp;size=${empty param.size ? 10 : param.size}" z="mT8h7nAC6ONwUUzUhPu4GvSUpGk="/>
        </menu:category>
        <menu:category id="c_distractions" z="qpQTHBO8jn/S8EH2k3mbGVdQfU0=">
            <menu:item id="i_distractions_new" messageCode="global_menu_new" url="/distractionses?form" z="dhxnL14z/HsqcAGHfaoOondyGc4="/>
            <menu:item id="i_distractions_list" messageCode="global_menu_list" url="/distractionses?page=1&amp;size=${empty param.size ? 10 : param.size}" z="g10sYPKQX4THLGtxDiriWNOtoHg="/>
            <menu:item id="fi_distractions_userid" messageCode="global_menu_find" render="false" url="/distractionses?find=ByUserId&amp;form" z="user-managed"/>
        </menu:category>
        <menu:category id="c_trackings" z="RbaycX3S1f16akgUK8/bbsbmpRc=">
            <menu:item id="i_trackings_new" messageCode="global_menu_new" render="false" url="/trackingses?form" z="user-managed"/>
            <menu:item id="i_trackings_list" messageCode="global_menu_list" url="/trackingses?page=1&amp;size=${empty param.size ? 10 : param.size}" z="/AdgvZJXX2JcJCncK65JruCoggU="/>
        </menu:category>
        <menu:category id="c_events" z="zIU/jMFI1PL8LQdGPzUdkZ3WIDE=">
            <menu:item id="i_events_new" messageCode="global_menu_new" url="/eventses?form" z="9paPCL51xDcVPxPFlRkIv8/eTts="/>
            <!--             <menu:item id="i_events_update" messageCode="global_menu_new" url="/eventses?form" /> -->
            <menu:item id="i_events_list" messageCode="global_menu_list" url="/eventses?page=1&amp;size=${empty param.size ? 10 : param.size}" z="7VvPBhmu+18a3VaMPV8VpNKXi3c="/>
        </menu:category>
        <sec:authorize access="hasRole('ROLE_ADMIN')">
            <menu:category id="c_badge" z="lFywLa416hb7PbK44x+cUo5EBro=">
                <menu:item id="i_badge_new" messageCode="global_menu_new" url="/badges?form" z="PN1dvat4D3ZSJudHNJw+qqnsqF0="/>
                <menu:item id="i_badge_list" messageCode="global_menu_list" url="/badges?page=1&amp;size=${empty param.size ? 10 : param.size}" z="8WOFPnTVb5R4YOjctl70cXdlrdo="/>
            </menu:category>
        </sec:authorize>
        <menu:category id="c_setplan" z="xI9hrTQ06ieJmrGkFeFZKxYGZv8=">
            <menu:item id="i_setplan_new" messageCode="global_menu_new" url="/setplans?form" z="YJIs0ePkk6fuCDpyrodcZCCZNpo="/>
            <menu:item id="i_setplan_list" messageCode="global_menu_list" url="/setplans?page=1&amp;size=${empty param.size ? 10 : param.size}" z="k/G6wetrdQICKkH+b1io9Z1OLlk="/>
        </menu:category>
        <menu:category id="c_subplan" z="jicTLjp1IX42fG7gJcRAn6PcUb4=">
            <menu:item id="i_subplan_new" messageCode="global_menu_new" url="/subplans?form" z="YlWPkNjMoFWj2XB4AK014QOjbck="/>
            <menu:item id="i_subplan_list" messageCode="global_menu_list" url="/subplans?page=1&amp;size=${empty param.size ? 10 : param.size}" z="xpY4lnbZrdh3CYrP7Ctbmb22+bw="/>
        </menu:category>
    </menu:menu>
</div>
