<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags" version="2.0">
	
<!-- <div xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:c="http://java.sun.com/jsp/jstl/core"  
	xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" 
	xmlns:jsp="http://java.sun.com/JSP/Page" 
	xmlns:spring="http://www.springframework.org/tags" version="2.0"> -->
<!-- <html> -->

  <head>
  	<title>User Badge</title>
  </head>
  
  <body>
    <h1>Hi ${user.userName}, let see how many badges you have acquired :</h1>
    <c:forEach items="${badgeList}" var="prod">
    	<div>
    		<div align="center">
    			<c:if test="${prod.id == 1}">
    			<img src="resources/images/1.gif" />
    			<!-- <spring:url var="badgeLogo" value="/resources/images/1.gif" /> -->
    			</c:if>
    			<c:if test="${prod.id == 2}">
    			<img src="resources/images/2.gif" />
    			<!-- <spring:url var="badgeLogo" value="/resources/images/1.gif" /> -->
    			</c:if>
    			<c:if test="${prod.id == 3}">
    			<img src="resources/images/3.gif" />
    			<!-- <spring:url var="badgeLogo" value="/resources/images/1.gif" /> -->
    			</c:if>
    		</div>
			<div  align="center" style="max-width:800px; border:2px solid #ccc;">
				<p> Badge: ${prod.badgeName}</p>
				<p><b> ${prod.badgeDescription}</b></p>
				<p></p>
			</div>
			<br></br>
		</div>
	</c:forEach>
  </body>
</html>

<!-- </div> -->