<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_onlinedistractiontracker_domain_SubPlan" modelAttribute="subPlan" path="/subplans" render="${empty dependencies}" z="F0Rg+XsyIcWKIRlO1NiWCM3lrzk=">
        <field:select field="PlanName" id="c_com_onlinedistractiontracker_domain_SubPlan_PlanName" itemValue="id" items="${setplans}" path="/setplans" z="O0NO2xlgucLFYVaRKIFodbQDqxc="/>
        <field:input field="SubPlanName" id="c_com_onlinedistractiontracker_domain_SubPlan_SubPlanName" max="20" min="2" required="true" z="UyQHvjAFjoJERj068yajtbLFF2g="/>
        <field:input field="Priority" id="c_com_onlinedistractiontracker_domain_SubPlan_Priority" validationMessageCode="field_invalid_integer" z="Wlb7HYYSqMlB2L2DykjB+8Iq6zA="/>
        <field:input field="DuringPeriod" id="c_com_onlinedistractiontracker_domain_SubPlan_DuringPeriod" validationMessageCode="field_invalid_integer" z="UiNku2SH/Ke/CCY/mhy6sowT8pg="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_onlinedistractiontracker_domain_SubPlan" render="${not empty dependencies}" z="CrhUxnjzCuJEyvFIjYp8aVkujl8="/>
</div>
